<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://easyhousingsolutionsfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5c104b0a-8ce9-4b02-89b1-bf2cc9ae8604/resourcegroups/budget-rg/providers/Microsoft.Web/sites/EasyHousingSolutionsFunctionApp</ResourceId>
    <UserName>$EasyHousingSolutionsFunctionApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://easyhousingsolutionsfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>