<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vasufunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2bd74d07-fd25-4935-9401-1400f41f5f9f/resourceGroups/VasuResourceGroup/providers/Microsoft.Web/sites/vasufunctionapp</ResourceId>
    <UserName>$vasufunctionapp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://vasufunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>